<!DOCTYPE html>
<html>
  <head>
    <title>Tasklist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav>
  <%=link_to "Главная", root_path%>
  <%if current_user%>
  <%=link_to "Добавить категорию" , new_category_path%>
  <%=link_to "Выйти", destroy_user_session_path, 'data-turbo-method': :delete%>
  <%else%>
    <%= link_to "Авторизация",new_user_session_path%>
    <%= link_to "Регистрация",new_user_registration_path%>
  <%end%>
  </nav>
    <%= yield %>
  </body>
</html>
